/* Pager Section */
.pager li .active-page {
    background-color: #337ab7;
    color: #fff;
    border: none;
}

.pager li .active-page:hover {
    background-color: #337ab7;
    color: #fff;
    border: none;
}

/* Navigation */
.navbar-header {
    float: none;
}
.navbar-right {
    float: right;
    margin-right: -15px;
}
.top-nav .open .dropdown-menu {
    float: none;
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}