/* Pager Section */
.pager li .active-page {
    background-color: #337ab7;
    color: #fff;
    border: none;
}

.pager li .active-page:hover {
    background-color: #337ab7;
    color: #fff;
    border: none;
}

/* Navigation */
.navbar-header {
    float: none;
}
.navbar-right {
    float: right;
    margin-right: -15px;
}
.top-nav .open .dropdown-menu {
    float: none;
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

/* Dashboard Section */
.users_online_header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: #829291;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.users_online_cnt {
    font-size: 1.4em;
}